body {
  background-color: #eee;
}

canvas {
  background-color: white;
  border: 1px solid gray;
}

#splash {
  position: absolute;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 1250px;
  cursor: pointer;
}

#splash img {
  position: absolute;
  left: 25%;
  top: 15%;
}
